$color-blue-100: #caf0f8;
$color-blue-200: #90e0ef;
$color-blue-300: #00b4d8;
$color-blue-400: #0077b6;
$color-blue-500: #03045e;

:export {
  colorBlue100: $color-blue-100;
  colorBlue200: $color-blue-200;
  colorBlue300: $color-blue-300;
  colorBlue400: $color-blue-400;
  colorBlue500: $color-blue-500;
}
